body[data-theme='light'] {
  --ucard-bg: var(--white);
  --bio-color: var(--gray-200);
  --ucard-shadow: var(--shadow);
}

body[data-theme='dark'] {
  --ucard-bg: var(--gray-400);
  --bio-color: var(--white);
  --ucard-shadow: unset;
}

.userCard {
  display: flex;
  column-gap: 40px;
  margin-top: 1.5rem;
  padding: 40px;
  background-color: var(--ucard-bg);
  box-shadow: var(--ucard-shadow);
  border-radius: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  row-gap: 30px;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.bio {
  line-height: 1.5;
  color: var(--bio-color);

  &.empty {
    opacity: 0.75;
  }
}

@media (max-width: 767px) {
  .userCard {
    padding: 15px;
  }
}

@media (max-width: 575px) {
  .userCard {
    padding: 5px;
    padding-top: 10px;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .content {
    justify-content: center;
    align-items: center;
  }

  .avatar {
    width: 70px;
    height: 70px;
  }

  .bio {
    line-height: 1;
    text-align: center;
  }
}
