body[data-theme='light'] {
  --utitle-color: var(--gray-300);
  --ujoined-color: var(--gray-100);
}

body[data-theme='dark'] {
  --utitle-color: var(--white);
  --ujoined-color: var(--white);
}

.userTitle {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  & > * {
    flex-basis: 50%;
  }

  h2 {
    color: var(--utitle-color);
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.5rem;
  }

  a {
    color: var(--main-color);
    line-height: 1.5;
  }

  span {
    color: var(--ujoined-color);
    line-height: 1.5;
  }
}

@media (max-width: 575px) {
  .userTitle {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 0.8rem;
      margin-top: 3px;
    }
  }
}
