body[data-theme='light'] {
  --search-bg: var(--white);
  --search-color: var(--gray-300);
  --search-placeholder-color: var(--gray-200);
  --search-shadow: var(--shadow);
}

body[data-theme='dark'] {
  --search-bg: var(--gray-400);
  --search-color: var(--white);
  --search-placeholder-color: var(--white);
  --search-shadow: unset;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 10px 10px 30px;
  background-color: var(--search-bg, white);
  box-shadow: var(--search-shadow);
  border-radius: 15px;
  cursor: pointer;
}

.textField {
  padding: 0 10px;
  flex-grow: 10;
  height: 60px;
  max-width: calc(100% - 100px - 20px);
  border: none;
  color: var(--search-color);
  font-size: 1.25rem;
  margin: 0 20px;
  background-color: var(--search-bg);

  &::placeholder {
    color: var(--search-placeholder-color);
  }
  &:focus {
    outline: none;
  }
}

.error {
  position: absolute;
  color: var(--error-color);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  cursor: auto;
  right: 120px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 575px) {
  .search {
    padding: 10px;

    .textField {
      font-size: 0.8rem;
      margin: 0;
      max-width: none;
      height: auto;
    }

    .error {
      right: 50%;
      top: 48px;
      font-size: 0.75rem;
    }

    label {
      flex-shrink: 0;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
